<div class="row">
	<div class="container-fluid">
		<h3>Manage Line <small>{{$ctrl.data.title}} <div class="pull-right"><label for="" class="label label-default"><span class="fa-stack fa-2x"><i class="fa fa-circle fa-stack-2x" ng-class="$ctrl.getStatusClass(1)"></i><i class="fa fa-microphone fa-stack-1x fa-inverse"></i></span> Recording Status <label for="" class="label" ng-class="$ctrl.getStatusClass(2)" ng-bind="$ctrl.data.status.text">OnLine</label></label></div></small></h3>
	</div>
</div>
<form ng-submit="$ctrl.save($ctrl.editObj)"><!--pre>{{$ctrl.editObj|json}}</pre-->
	<div class="row">
		<div class="form-group col-md-6">
			<label for="">Line Title</label>
			<input required ng-model="$ctrl.editObj.lineName" type="text" placeholder="Line Title" class="form-control">
		</div>
		<div class="form-group col-md-6">
			<label for="">VIP?</label>
			<switch ng-model="$ctrl.editObj.vip" class="pull-right" on="Yes" off="No"></switch>
		</div>
		<div class="form-group col-md-6">
			<label for="">Record Calls?</label>
			<switch ng-model="$ctrl.editObj.recordCalls" class="pull-right" on="Yes" off="No"></switch>
		</div>
		<div class="form-group col-md-6">
			<label for="">Line Type</label>
			<select required ng-options="x.id as x.description for x in $ctrl.lookups.lineTypeLus" ng-model="$ctrl.editObj.lineTypeId" class="form-control">
				<option value="">Select from List</option>
			</select>
		</div>
		<div class="form-group col-md-6">
			<label for="">Line Number</label>
			<input required ng-model="$ctrl.editObj.lineNumber" type="tel" placeholder="Line Number" class="form-control">
		</div>
		<div class="form-group col-md-12">
			<label for="">Recording Period</label>
			<div class="row">
				<div class="col-xs-6">
					<div class="input-group">
						<div class="input-group-addon">From</div>
						<input ng-disabled="!$ctrl.editObj.recordCalls" ng-model="$ctrl.editObj.rercordingPeriodFrom" type="text" class="form-control" uib-datepicker-popup="{{popup1.dateFormat}}" is-open="popup1.popup.opened" ng-change="popup1.updateDatePicker(popup2,$ctrl.editObj.rercordingPeriodFrom)" datepicker-options="popup1.dateOptions" close-text="Close">
						<span class="input-group-btn">
							<button type="button" class="btn btn-default" ng-click="popup1.open()"><i class="glyphicon glyphicon-calendar"></i></button>
						</span>
					</div>
				</div>
				<div class="col-xs-6">
					<div class="input-group">
						<div class="input-group-addon">Till</div>
						<input ng-disabled="!$ctrl.editObj.recordCalls" ng-model="$ctrl.editObj.rercordingPeriodTo" type="text" class="form-control" uib-datepicker-popup="{{popup2.dateFormat}}" is-open="popup2.popup.opened" datepicker-options="popup2.dateOptions" close-text="Close">
						<span class="input-group-btn">
							<button type="button" class="btn btn-default" ng-click="popup2.open()"><i class="glyphicon glyphicon-calendar"></i></button>
						</span>
					</div>
				</div>
			</div>
		</div>
		<div class="form-group col-md-12">
			<label for="">Recording Time</label>
			<div class="row">
				<div class="col-xs-6">
					<div class="input-group">
						<div class="input-group-addon">From</div>
						<div uib-timepicker ng-disabled="!$ctrl.editObj.recordCalls" show-spinners="false" ng-model="$ctrl.editObj.recordingTimeFrom" hour-step="1" minute-step="10" show-meridian="true"></div>
					</div>
				</div>
				<div class="col-xs-6">
					<div class="input-group">
						<div class="input-group-addon">Till</div>
						<div uib-timepicker ng-disabled="!$ctrl.editObj.recordCalls" show-spinners="false" ng-model="$ctrl.editObj.recordingTimeTo" hour-step="1" minute-step="10" show-meridian="true"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="form-group col-md-12">
			<label for="">Comment</label>
			<textarea ng-model="$ctrl.editObj.comment" placeholder="Line Comment" class="form-control"></textarea>
		</div>
	</div>
	<div class="btn-bar">
		<button class="btn btn-primary">Save</button>
		<button class="btn btn-default" type="button" ng-click="$ctrl.cancel()">Cancel</button>
<!--		<a href="" class="btn btn-link"><i class="fa fa-plus-circle"></i> Add Sibling Line</a>-->
	</div>
</form>
