<form ng-submit="ok()">
	<div class="modal-header">
		<h3 class="modal-title">{{obj.title || 'New Team'}}</h3>
	</div>
	<div class="modal-body">
		<div class="row">
			<div class="col-md-6">
				<label>Name:</label>
				<input type="text" ng-model="obj.teamName" class="form-control">
			</div>
			<div class="col-md-6">
				<label>Department:</label>
				<input convert-to-number type="text" ng-model="obj.departmentId" class="form-control">
			</div>
			<div class="col-md-12">
				<label>Comment:</label>
				<textarea ng-model="obj.comment" class="form-control" rows="3"></textarea>
			</div>
			<div class="col-md-12">
				<fieldset>
					<legend>Team Leaders</legend>
					<div class="row">
						<div class="col-md-6">
							<label for="">Assigned Team Leaders</label>
							<select multiple class="form-control" ng-options="x.firstName+ ' '+x.lastName for x in obj.teamLeads" ng-model="dummy"></select>
						</div>
						<div class="col-md-1">
							<div class="row">
								<button class="btn btn-default btn-sm btn-block" ng-click="moveItems(depTeamLeads,depTeamLeads,obj.teamLeads)"><i class="fa fa-angle-double-left"></i></button>
								<button class="btn btn-default btn-sm btn-block" ng-click="moveItems(depTeamLeads,selectedDepTeamLeads,obj.teamLeads)"><i class="fa fa-angle-left"></i></button>
								<button class="btn btn-default btn-sm btn-block" ng-click="moveItems(obj.teamLeads,dummy,depTeamLeads)"><i class="fa fa-angle-right"></i></button>
								<button class="btn btn-default btn-sm btn-block" ng-click="moveItems(obj.teamLeads,obj.data.teamLeads,depTeamLeads)"><i class="fa fa-angle-double-right"></i></button>
							</div>
						</div>
						<div class="col-md-5">
							<label for="">Available Team Leaders</label>
							<select multiple class="form-control" ng-options="x.firstName+ ' '+x.lastName for x in depTeamLeads" ng-model="selectedDepTeamLeads"></select>
						</div>
					</div>
				</fieldset>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
		<button class="btn btn-primary" type="submit">Save</button>
	</div>
</form>
