<form ng-submit="ok()">
	<div class="modal-header">
		<h3 class="modal-title">{{obj.department.departmentName || 'New Department'}}</h3>
	</div>
	<div class="modal-body">
		<div class="row">
			<div class="col-md-6">
				<label>Deprtment Name:</label>
				<input type="text" ng-model="obj.department.departmentName" class="form-control">
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<label>Maximum Number of Users:</label>
				<input type="text" ng-model="obj.department.maxNoOfUsers" class="form-control">
			</div>
			<div class="col-md-6">
				<label>Maximum Number of Recording Lines:</label>
				<input type="text" ng-model="obj.department.maxNoOfRecLines" class="form-control">
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<label>Comment:</label>
				<textarea ng-model="obj.department.comment" rows="3" class="form-control"></textarea>
			</div>
			<div class="col-md-12">
				<fieldset>
					<legend>Department Admins</legend>
					<div class="row">
						<div class="col-md-6">
							<label for="">Assigned Department Admins</label>dummy::{{dummy}},systemUsers::{{systemUsers}}
							<select multiple class="form-control" ng-options="x.firstName+ ' '+x.lastName for x in systemUsers" ng-model="dummy"></select>
						</div>
						<div class="col-md-1">
							<div class="row">
								<button type="button" class="btn btn-default btn-sm btn-block" ng-click="moveItems(depAdmins,depAdmins,systemUsers)"><i class="fa fa-angle-double-left"></i></button>
								<button type="button" class="btn btn-default btn-sm btn-block" ng-click="moveItems(depAdmins,selectedDepAdmins,systemUsers)"><i class="fa fa-angle-left"></i></button>
								<button type="button" class="btn btn-default btn-sm btn-block" ng-click="moveItems(systemUsers,dummy,depAdmins)"><i class="fa fa-angle-right"></i></button>
								<button type="button" class="btn btn-default btn-sm btn-block" ng-click="moveItems(systemUsers,systemUsers,depAdmins)"><i class="fa fa-angle-double-right"></i></button>
							</div>
						</div>
						<div class="col-md-5">
							<label for="">Available Department Admins</label>
							<select multiple class="form-control" ng-options="x.firstName+ ' '+x.lastName for x in depAdmins" ng-model="selectedDepAdmins"></select>
						</div>
					</div>
				</fieldset>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
		<button class="btn btn-primary" type="submit">Save</button>
	</div>
</form>
