<div class="modal-header">
	<h3 class="modal-title">{{obj.title || 'New Department'}}</h3>
</div>
<div class="modal-body">
	<div class="row">
		<div class="col-md-6">
			<label>Deprtment Name:</label>
			<input type="text" ng-model="obj.data.departmentName" class="form-control">
		</div>
		<div class="col-md-6">
			<label>Maximum Number of Recording Lines:</label>
			<input type="text" ng-model="obj.data.maxLines" class="form-control">
		</div>
		<div class="col-md-12">
			<label>Comment:</label>
			<textarea ng-model="obj.data.comment" rows="3" class="form-control"></textarea>
		</div>
		<div class="col-md-12">
			<fieldset>
				<legend>Department Admins</legend>
				<div class="row">
					<div class="col-md-6">
						<label for="">Assigned Department Admins</label>
						<select multiple class="form-control" ng-options="x.firstName+ ' '+x.lastName for x in obj.data.teamLeads" ng-model="dummy"></select>
					</div>
					<div class="col-md-1">
						<div class="row">
							<button class="btn btn-default btn-sm btn-block" ng-click="moveItems(depTeamLeads,depTeamLeads,obj.data.teamLeads)"><i class="fa fa-angle-double-left"></i></button>
							<button class="btn btn-default btn-sm btn-block" ng-click="moveItems(depTeamLeads,selectedDepTeamLeads,obj.data.teamLeads)"><i class="fa fa-angle-left"></i></button>
							<button class="btn btn-default btn-sm btn-block" ng-click="moveItems(obj.data.teamLeads,dummy,depTeamLeads)"><i class="fa fa-angle-right"></i></button>
							<button class="btn btn-default btn-sm btn-block" ng-click="moveItems(obj.data.teamLeads,obj.data.teamLeads,depTeamLeads)"><i class="fa fa-angle-double-right"></i></button>
						</div>
					</div>
					<div class="col-md-5">
						<label for="">Available Department Admins</label>
						<select multiple class="form-control" ng-options="x.firstName+ ' '+x.lastName for x in depTeamLeads" ng-model="selectedDepTeamLeads"></select>
					</div>
				</div>
			</fieldset>
		</div>
	</div>
</div>
<div class="modal-footer">
	<button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
	<button class="btn btn-primary" type="button" ng-click="ok()">Save</button>
</div>
