<li class="col-xs-6">
    <label for="">From</label>
    <uib-datepicker ng-model="vm.fromToObj.from" class="well well-sm" datepicker-options="options1"></uib-datepicker>
    <div class="time-picker">
        <uib-timepicker ng-model="vm.fromToObj.from" hour-step="1" minute-step="1" show-meridian="false"></uib-timepicker>
    </div>
</li>
<li class="col-xs-6">
    <label for="">Till</label>
    <uib-datepicker ng-model="vm.fromToObj.to" class="well well-sm" datepicker-options="options2"></uib-datepicker>
    <div class="time-picker">
        <uib-timepicker ng-model="vm.fromToObj.to" hour-step="1" minute-step="1" show-meridian="false"></uib-timepicker>                                                               
    </div>
</li>