<div class="dropdown keep-on" uib-dropdown auto-close="disabled">
	<button uib-dropdown-toggle><i class="fa fa-gear"></i></button>
	<div class="dropdown-menu keep-on" style="min-width:290px;" uib-dropdown-menu>
		<h5 class="text-center">Select Columns to View</h5>
		<div class="alternate">
			<input type="search" ng-model="columnFilter" placeholder="Search for Column" class="input-sm form-control">
		</div>
<!--
		<div class="list-group list-group-sm">
			<div class="list-group-item clearfix" ng-repeat="x in columns.childs">
				<label class="pull-left" style="white-space:nowrap;margin-right:60px;">
					<input type="checkbox" ng-model="x.isOn" /> {{x.title}}</label>
				<input type="number" min="1" ng-model="x.order" class="form-control input-sm pull-right" style="width:50px;position:absolute;right:8px;top:2px" />
			</div>
		</div>
-->
		<div id="columnsScroll" class="list-group list-group-sm mh-350 vertical-scroll" data-as-sortable="dragControlListeners" data-ng-model="columns.childs">
		   <div class="list-group-item clearfix" ng-class="{'picked':x.picked}" ng-repeat="x in columns.childs | filter:{code:'!SESSION_FLAG_ID'} | filter:{code:'!LOCKED'} | columnsFilter:columnFilter" data-as-sortable-item>
			  <div data-as-sortable-item-handle>
			  	<label data-as-sortable-item-handle class="pull-left" style="white-space:nowrap;margin-right:60px;">
					<input type="checkbox" ng-model="x.visible" /> {{x.title}}</label>
			  </div>
		   </div>
		</div>
		<div class="row">
			<div class="col-xs-8">
				<label class="btn btn-link">
					<input ng-click="handleChkAll(columns,'visible')" ng-model="columns.checked" type="checkbox" /> Select All</label>
			</div>
			<div class="col-xs-4">
				<button class="btn btn-primary btn-sm" style="margin-top:4px;" uib-dropdown-toggle><i class="fa fa-check"></i> OK</button>
			</div>
		</div>
	</div>
</div>
