<small class="text-warning" ng-if="selectedItems.length">You have selected {{selectedItems.length}} Items, What do you need to do?
	<div class="special-input">
		<span class="input-group input-group-sm">
			<span class="input-group-addon">Mark selected as</span>
			<span class="dropdown form-control">
				<a href="" data-toggle="dropdown" title="{{vm.getIcon(markAll.sessionFlagId).title}}"><i class="fa" ng-class="vm.getIcon(markAll.sessionFlagId).icon"></i> {{vm.getIcon(markAll.sessionFlagId).title}} <i class="caret"></i></a>
				<ul class="dropdown-menu">
					<li ng-repeat="z in lookups['sessionFlagLus']"><a ng-click="markAll.sessionFlagId=z.id" href=""><i class="fa" ng-class="{'fa-exclamation':z.id==1,'fa-search':z.id==2,'fa-check':z.id==3,'fa-times':z.id==4,'fa-circle-o':z.id==5}"></i> {{z.description}}</a></li>
				</ul>
			</span>
			<span class="input-group-btn">
				<button ng-click="markSelected(selectedItems,markAll.sessionFlagId)" class="btn btn-default">Apply</button>
			</span>
		</span>
	</div>
	<button class="btn btn-link btn-sm" ng-click="openPopup(selectedItems,'/app/pages/calls_log/popup-export.html','exportCallLogCtrl','sm');"><i class="fa fa-external-link-square"></i> <span>Export Selected</span></button>
	<button class="btn btn-link btn-sm" ng-click="deleteMulti(selectedItems)"><i class="fa fa-trash"></i> <span>Delete Selected</span></button>
</small>
