<div class="modal-header">
	<h3 class="modal-title">{{obj.targetCaseName +" / "+obj.identityName+" / "+obj.lineName}}</h3>
</div>
<form ng-submit="callLogService.updateSessionLog(obj);ok();">
	<div class="modal-body">
		<div class="row">
			<!--
        <div class="col-md-6">

                <label>Case:</label>
                <div for="" class="form-control-static" ng-bind="obj.caseName"></div>
        </div>
 -->
			<div class="col-md-6">
				<label>Mark As:</label>
				<div class="btn-group">
					<button type="button" class="btn btn-default dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<i class="fa" ng-class="getIcon(obj.sessionFlagId).icon"></i> {{getIcon(obj.sessionFlagId).title}} <span class="caret"></span>
					</button>
					<ul class="dropdown-menu">
<!--						<li><a ng-click="obj.sessionFlagId=null" href="" class="btn btn-link"><i class="fa fa-circle-o"></i> Un Marked</a></li>-->
						<li ng-repeat="z in lookups['sessionFlagLus']"><a ng-click="obj.sessionFlagId=z.id" href="" class="btn btn-link"><i class="fa" ng-class="{'fa-exclamation':z.id==1,'fa-search':z.id==2,'fa-check':z.id==3,'fa-times':z.id==4,'fa-circle-o':z.id==5}"></i> {{z.description}}</a></li>
					</ul>
				</div>
			</div>
			<div class="col-md-6">
				<label>(un)Lock? :</label>
				<a href="" class="btn btn-default btn-sm" title="{{getIcon(obj.locked).title}}" ng-click="obj.locked=!obj.locked"><i class="fa" ng-class="getIcon(obj.locked).icon"></i> {{getIcon(obj.locked).title}}</a>
			</div>
			<div class="col-md-12">
				<label>Date:</label>
				<div for="" class="form-control-static" ng-bind="obj.startDate | date"></div>
			</div>
			<div class="col-md-4">
				<label>Start Time:</label>
				<div for="" class="form-control-static" ng-bind="obj.startDate | date:'hh:mm'"></div>
			</div>
			<div class="col-md-4">
				<label>End Time:</label>
				<div for="" class="form-control-static" ng-bind="obj.endDate | date:'hh:mm'"></div>
			</div>
			<div class="col-md-4">
				<label>Duration:</label>
				<div for="" class="form-control-static" ng-bind="obj.duration"></div>
			</div>
			<div class="col-md-12">
				<label>Comment: </label><span class="label label-default pull-right">{{obj.comment.length || 0}}/140</span>
				<textarea maxlength="140" ng-model="obj.comment" class="form-control" rows="3"></textarea>
			</div>
			<div class="col-md-12">
				<label>Transcribe:</label>
				<textarea ng-model="obj.transcript" class="form-control" rows="8"></textarea>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
		<button class="btn btn-primary">Save</button>
	</div>
</form>
