<div class="modal-header">
	<h3 class="modal-title">Export <small ng-if="objType=='[object Object]'">{{obj.targetCaseName +" / "+obj.identityName+" / "+obj.lineName}}</small>
    <small ng-if="objType=='[object Array]'">{{obj.length}} Items selected to be Exported</small></h3>
</div>
<div class="modal-body">
	<div class="row">
		<div class="col-md-12" ng-if="objType=='[object Object]' && !exported">
			<label for="">Export File Name:</label>
			<input class="form-control" type="text" ng-model="exp.name">
		</div>
		<div class="col-md-12" ng-if="!exported">
			<label for="">Export Types:</label>
			<div>
				<label>
					<input type="checkbox" ng-model="exp.options.audio"> <i class="fa fa-file-audio-o"></i> Audio</label>
				<label>
					<input type="checkbox" ng-model="exp.options.excel"> <i class="fa fa-file-excel-o"></i> Record Data</label>
			</div>
		</div>
		<div class="col-md-12" ng-if="exported">
			<a href="" class="btn btn-link" ng-if="exp.options.excel" title="{{exp.name+'.xls'}}">
				<i class="fa fa-3x fa-download"></i> Download Data File
			</a>
			<a href="" class="btn btn-link" ng-if="exp.options.audio" title="{{exp.name+'.zip'}}">
				<i class="fa fa-3x fa-download"></i> Download Audio File
			</a>
		</div>
		<!--
		<div class="col-md-12">
			<label>Export File Path:</label>
			<input type="file" ng-bind="exp.path" class="form-control" />
		</div>
-->
	</div>
</div>
<div class="modal-footer">
	<button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
	<button class="btn btn-primary" ng-if="!exported" type="button" ng-click="ok()">Export</button>
</div>
