<div class="modal-header">
    <h3 class="modal-title">Export <small ng-if="objType=='[object Object]'">{{obj.caseName +" / "+obj.identityName+" / "+obj.lineName}}</small>
    <small ng-if="objType=='[object Array]'">{{obj.length}} Items selected to be Exported</small></h3>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-12"><label for="">Export File Name:</label><input class="form-control" type="text" ng-model="exp.name"></div>
        <div class="col-md-12">
            <label>Export File Path:</label>
            <input type="file" ng-bind="exp.path" webkitdirectory directory class="form-control"/>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    <button class="btn btn-primary" type="button" ng-click="ok()">Export</button>
</div>
