<div class="modal-header">
    <h3 class="modal-title">Transcribe for <small>{{obj.caseName +" / "+obj.identityName+" / "+obj.lineName}}</small></h3>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <label>Transcribe:</label>
            <textarea ng-model="obj.transcribe" class="form-control" rows="10"></textarea>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    <button class="btn btn-primary" type="button" ng-click="ok()">Save</button>
</div>
