<div>
	<h1 class="page-header">
        <i class="fa fa-headphones fa-1x"></i> Calls log
		<div id="mini-player"></div>
        <div class="mini-player" ng-if="!miniPaused">
        	<div class="mini-controls">
        		<label class="label label-warning"> {{miniIsPlaying}}
        			<a ng-click="playAudio(-1)" class="btn btn-link btn-sm">
						<span class="fa fa-stack">
							<i class="fa fa-circle fa-stack-2x fg-white"></i>
							<i class="fa fa-step-backward fa-stack-1x fg-blue"></i>
						</span>
					</a>
        			<a href="" class="btn btn-link" ng-click="vm.wavesurferMini.playPause()">
						<span id="pause" ng-show="!miniPaused" uib-tooltip="Pause Audio">
							<i class="fa fa-pause-circle fa-3x fg-yellow"></i>
						</span>
					</a>
        			<a ng-click="playAudio(1)" class="btn btn-link btn-sm">
						<span class="fa fa-stack">
							<i class="fa fa-circle fa-stack-2x fg-white"></i>
							<i class="fa fa-step-forward fa-stack-1x fg-blue"></i>
						</span>
					</a>
        		</label>
        	</div>
        </div>
    </h1>
	<h2>Calls Log List
		<ng-include src="'/app/pages/calls_log/multi-selected-actions.html'"></ng-include>
    </h2>
	<div class="row">
		<div class="col-md-12">
			<div class="-table-responsive -no-vertical-overflow">
				<table class="table table-white table-hover table-striped with-actions-bar">
					<caption class="no-padding">
						<div class="row col-md-1" ng-include="'/app/pages/calls_log/advanced-filter.html'"></div>
						<div class="row col-md-3" ng-include="'/app/pages/calls_log/lines-filter.html'"></div>
						<div class="row col-md-6" ng-include="'/app/pages/calls_log/duration-filter.html'"></div>
						<div class="col-md-1 text-right navbar-right" ng-include="'/app/pages/calls_log/columns-select.html'"></div>
					</caption>
					<thead>
						<tr>
							<th width="100">
								<input type="checkbox" ng-model="checkAll" ng-click="selectAll();">
							</th>
							<th ng-repeat="col in columns.childs |  filter:{visible:true} | filter:{code:'!SESSION_FLAG_ID'} | filter:{code:'!LOCKED'}">
								<a href="" ng-click="setPage(callLogService.orderBy(col.prop))" class="fg-white" ng-bind="col.title"></a>
							</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-show="vm.callsLog.searchResults.length==0">
							<td colspan="20" class="text-center">No Records Found</td>
						</tr>
						<tr ng-repeat="x in vm.callsLog.searchResults " ng-class="{'active':vm.editObj==x}">
							<td style="width:120px">
								<input type="checkbox" ng-model="x.Selected" ng-click="checkIfAllSelected(x)" />
								<span class="dropdown" ng-if="columns.childs[1].visible">
                                    <a href="" data-toggle="dropdown" title="{{vm.getIcon(x.sessionFlagId).title}}"><i class="fa" ng-class="vm.getIcon(x.sessionFlagId).icon"></i><i class="caret"></i></a>
                                    <ul class="dropdown-menu">
                                        <li><a ng-click="callLogService.updateSessionFlag(x.sessionLogId,null)" href="" class="btn btn-link"><i class="fa fa-circle-o"></i> Un Marked</a></li>
                                        <li ng-repeat="z in lookups['sessionFlagLus']"><a ng-click="callLogService.updateSessionFlag(x.sessionLogId,z.id)" href="" class="btn btn-link"><i class="fa" ng-class="{'fa-exclamation':z.id==1,'fa-search':z.id==2,'fa-check':z.id==3,'fa-times':z.id==4}"></i> {{z.description}}</a></li>
<!--
                                        <li><a ng-click="callLogService.updateSessionFlag(x.id,2)" href="" class="btn btn-link"><i class="fa fa-search"></i> Revise Later</a></li>
                                        <li><a ng-click="callLogService.updateSessionFlag(x.id,3)" href="" class="btn btn-link"><i class="fa fa-check"></i> Reviewed</a></li>
                                        <li><a ng-click="callLogService.updateSessionFlag(x.id,4)" href="" class="btn btn-link"><i class="fa fa-times"></i> Irrelevent</a></li>
-->
                                    </ul>
                                </span>
								<a href="" ng-if="columns.childs[1].visible" class="btn btn-link" title="{{vm.getIcon(x.locked).title}}" ng-click="callLogService.updateSessionLock(x.sessionLogId,!x.locked)"><i class="fa" ng-class="vm.getIcon(x.locked).icon"></i></a>
								<span ng-if="x.hasTranscript" uib-tooltip="Transcribe Added" class="btn btn-link btn-sm"><i class="fa icon-paste text-warning" ng-if="x.hasTranscript"></i></span>
							</td>
							<td ng-click="loadItem(x)" ng-repeat="col in columns.childs | filter:{visible:true} | filter:{code:'!SESSION_FLAG_ID'} | filter:{code:'!LOCKED'}">
								<span class="btn btn-link" ng-bind="x[col.prop]" ng-show="col.columnType!='DATE' && col.columnType!='TIME'"></span>
								<span class="btn btn-link" ng-bind="x[col.prop]|date:'dd/MM/yyyy hh:mm'" ng-show="col.columnType=='DATE'"></span>
								<span class="btn btn-link" ng-bind="x[col.prop]|date:'hh:mm'" ng-show="col.columnType=='TIME'"></span>
							</td>
							<td class="actions-bar">
								<a href="" class="btn btn-link" tooltip-placement="top" uib-tooltip="Export Record Data" ng-click="openPopup(x,'/app/pages/calls_log/popup-export.html','exportCallLogCtrl','sm');"><i class="fa fa-external-link-square"></i></a>
								<a href="" class="btn btn-link" tooltip-placement="top" uib-tooltip="Play Audio File" ng-click="play(x)"><i class="fa fa-play-circle"></i></a>
								<a href="" class="btn btn-link" tooltip-placement="top" uib-tooltip="Open Transcribe Window" ng-click="openPopup(x,'/app/pages/calls_log/popup-transcribe.html','callLogFullViewCtrl','lg')"><i class="fa icon-paste"></i></a>
								<a href="" class="btn btn-link" tooltip-placement="top" uib-tooltip="Delete Record" ng-click="delete(x)"><i class="fa fa-trash"></i></a>
							</td>
						</tr>
					</tbody>
					<tfoot>
						<tr>
							<td colspan="200">
								<span class="btn btn-link pull-left">Records Count {{vm.callsLog.totalNoOfResults}}</span>
								<ul uib-pagination boundary-links="true" total-items="vm.callsLog.totalNoOfResults" ng-model="currentPage" class="pagination-sm" max-size="6" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
							</td>
						</tr>
					</tfoot>
				</table>
			</div>
		</div>
	</div>
	<ng-include src="'/app/pages/calls_log/quick-preview.html'" ng-show="vm.isVisible"></ng-include>
</div>
