<div ng-controller="CallLogCtrl as vm">
	<h1 class="page-header">
        <i class="fa fa-headphones fa-1x"></i> Calls log
    </h1>
	<h2>Calls Log List <small class="text-warning" ng-if="selectedItems.length">You have selected {{selectedItems.length}} Items, What do you need to do?
							   <div class="special-input"><span class="input-group input-group-sm"><span class="input-group-addon">Mark selected as</span>
                                  <span class="dropdown form-control">
                                    <a href="" data-toggle="dropdown" title="{{vm.getIcon(markAll.isMarked).title}}"><i class="fa" ng-class="vm.getIcon(markAll.isMarked).icon"></i> {{vm.getIcon(markAll.isMarked).title}} <i class="caret"></i></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="" ng-click="markAll.isMarked=10"><i class="fa fa-circle-o"></i> Un Marked</a></li>
                                        <li><a href="" ng-click="markAll.isMarked=11"><i class="fa fa-exclamation"></i> Important</a></li>
                                        <li><a href="" ng-click="markAll.isMarked=12"><i class="fa fa-search"></i> Revise Later</a></li>
                                        <li><a href="" ng-click="markAll.isMarked=13"><i class="fa fa-check"></i> Reviewed</a></li>
                                        <li><a href="" ng-click="markAll.isMarked=14"><i class="fa fa-times"></i> Irrelevent</a></li>
                                    </ul>
                                </span>
								   <span class="input-group-btn"><button ng-click="markSelected(selectedItems,markAll.isMarked)" class="btn btn-default">Apply</button></span></span></div>
                                   <button class="btn btn-link btn-sm" ng-click="openPopup(selectedItems,'/app/pages/calls_log/popup-export.html','exportCallLogCtrl','sm');"><i class="fa fa-external-link-square"></i> <span>Export Selected</span></button><button class="btn btn-link btn-sm" ng-click=""><i class="fa fa-trash"></i> <span>Delete Selected</span></button></small></h2>
	<div class="row">
		<div class="col-md-12">
			<div class="-table-responsive -no-vertical-overflow">
				<table class="table table-white table-hover table-striped with-actions-bar">
					<caption class="no-padding">
						<div class="row col-md-1" ng-include="'/app/pages/calls_log/advanced-filter.html'"></div>
						<div class="row col-md-3" ng-include="'/app/pages/calls_log/lines-filter.html'"></div>
						<div class="row col-md-6" ng-include="'/app/pages/calls_log/duration-filter.html'"></div>
						<div class="col-md-1 text-right navbar-right" ng-include="'/app/pages/calls_log/columns-select.html'"></div>
					</caption>
					<thead>
						<tr>
							<th width="100">
								<input type="checkbox" ng-model="checkAll" ng-click="selectAll();">
							</th>
							<th ng-repeat="col in columns.childs |orderBy:'order'|  filter:{isOn:true}">{{col.title}}</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-show="filteredCallsLog.length==0">
							<td colspan="20" class="text-center">No Records Found</td>
						</tr>
						<tr ng-click="vm.editObj=x;" ng-repeat="x in filteredCallsLog | filter:paginate " ng-class="{'active':vm.editObj==x}">
							<td>
								<input type="checkbox" ng-model="x.Selected" ng-click="checkIfAllSelected(x)" />
								<span class="dropdown">
                                    <a href="" data-toggle="dropdown" title="{{vm.getIcon(x.isMarked).title}}"><i class="fa" ng-class="vm.getIcon(x.isMarked).icon"></i><i class="caret"></i></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="" class="btn btn-link" ng-click="x.isMarked=10"><i class="fa fa-circle-o"></i> Un Marked</a></li>
                                        <li><a href="" class="btn btn-link" ng-click="x.isMarked=11"><i class="fa fa-exclamation"></i> Important</a></li>
                                        <li><a href="" class="btn btn-link" ng-click="x.isMarked=12"><i class="fa fa-search"></i> Revise Later</a></li>
                                        <li><a href="" class="btn btn-link" ng-click="x.isMarked=13"><i class="fa fa-check"></i> Reviewed</a></li>
                                        <li><a href="" class="btn btn-link" ng-click="x.isMarked=14"><i class="fa fa-times"></i> Irrelevent</a></li>
                                    </ul>
                                </span>
								<a href="" class="btn btn-link" title="{{vm.getIcon(x.isLocked).title}}" ng-click="x.isLocked=!x.isLocked"><i class="fa" ng-class="vm.getIcon(x.isLocked).icon"></i></a>
							</td>
							<td ng-repeat="col in columns.childs  |orderBy:'order'| filter:{isOn:true}">
								<span class="btn btn-link" ng-bind="x[col.prop]" ng-show="col.type==undefined"></span>
								<span class="btn btn-link" ng-bind="x[col.prop]|date:'dd/MM/yyyy'" ng-show="col.type=='date'"></span>
								<span class="btn btn-link" ng-bind="x[col.prop]|date:'hh:mm'" ng-show="col.type=='time'"></span>
							</td>
							<td class="actions-bar">
								<a href="" class="btn btn-link" tooltip-placement="top" uib-tooltip="Export Record Data" ng-click="openPopup(x,'/app/pages/calls_log/popup-export.html','exportCallLogCtrl','sm');"><i class="fa fa-external-link-square"></i></a>
								<a href="" class="btn btn-link" tooltip-placement="top" uib-tooltip="Play Audio File" ng-click="play(x.audio)"><i class="fa fa-play-circle"></i></a>
								<a href="" class="btn btn-link" tooltip-placement="top" uib-tooltip="Open Transcribe Window" ng-click="openPopup(x,'/app/pages/calls_log/popup-transcribe.html','callLogFullViewCtrl','lg')"><i class="fa icon-paste"></i></a>
								<a href="" class="btn btn-link" tooltip-placement="top" uib-tooltip="Delete Record"><i class="fa fa-trash"></i></a>
							</td>
						</tr>
					</tbody>
					<tfoot>
						<tr>
							<td colspan="20">
								<span class="btn btn-link pull-left">Records Count {{filteredCallsLog.length}}</span>
								<uib-pagination boundary-links="true" total-items="filteredCallsLog.length" ng-model="currentPage" class="pagination-sm" max-size="6" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
							</td>
						</tr>
					</tfoot>
				</table>
			</div>
		</div>
	</div>
	<ng-include src="'/app/pages/calls_log/quick-preview.html'" ng-show="vm.isVisible"></ng-include>
</div>
