<div ng-controller="SystemCtrl as vm">
	<h1 class="page-header">
		<i class="fa fa-gears"></i> System Settings
	</h1>
	<div class="container forms">
		<form>
			<fieldset>
				<h3>System Information</h3>
				<div class="col-md-10 col-md-push-1">
					<div class="form-group col-md-6">
						<label for="">Maximum Number of Recording Lines</label>
						<div class="input-group">
							<input type="number" ng-model="model.maxNumOfRecLines" class="form-control" placeholder="Max # Line of Recording Lines">
							<span class="input-group-addon">
								Line(s)
							</span>
						</div>
					</div>
					<div class="form-group col-md-6">
						<label for="">Maximum Number of Users</label>
						<div class="input-group">
							<input type="number" ng-model="model.maxNumOfRecUsers" class="form-control" placeholder="Max Number of Users">
							<span class="input-group-addon">
								User(s)
							</span>
						</div>
					</div>
					<div class="form-group col-md-6">
						<label for="">Auto Delete Call Record After</label>
						<div class="input-group">
							<input type="number" ng-model="model.autoDelCallRecAfter" class="form-control" placeholder="Auto Delete Call Record After">
							<span class="input-group-addon">
								Day(s)
							</span>
						</div>
					</div>
					<div class="form-group col-md-6">
						<label for="">User Session Expires After</label>
						<div class="input-group">
							<input type="number" ng-model="model.userSessionExpAfter" class="form-control" placeholder="User Session Expires After">
							<span class="input-group-addon">
								Minute(s)
							</span>
						</div>
					</div>
					<div class="form-group col-md-6">
						<label for="">Events to be Logged in the Audit Trail</label>
						<input type="text" class="form-control">
					</div>
					<div class="form-group col-md-6">
						<button type="button" class="btn btn-primary btn-block">
							<i class="fa fa-shield fa-2x"></i> <span>Upload License
						<br/><small>Parameter File</small></span></button>
					</div>
				</div>
			</fieldset>
			<fieldset>
				<h3>Password Rules</h3>
				<div class="col-md-10 col-md-push-1">
					<div class="col-md-6 form-group">
						<label for="">Minimum Length</label>
						<div class="input-group">
							<input type="number" ng-model="model.passwordMinLength" class="form-control" placeholder="Minimum Length">
							<span class="input-group-addon">
								Character(s)
							</span>
						</div>
					</div>
					<div class="col-md-6 form-group">
						<label for="">Expires After</label>
						<div class="input-group">
							<input type="number" ng-model="model.passwordExpAfter" class="form-control" placeholder="Expires After">
							<span class="input-group-addon">
								Day(s)
							</span>
						</div>
					</div>
					<div class="col-md-6 form-group">
						<label for="">Must Contains Capital Letter</label>
						<switch ng-model="model.isMustContainCapLetter" class="pull-right" on="Yes" off="No"></switch>
					</div>
					<div class="col-md-6 form-group">
						<label for="">Must Contains a Digit</label>
						<switch ng-model="model.isMustContainDigit" class="pull-right" on="Yes" off="No"></switch>
					</div>
				</div>
			</fieldset>
			<div class="btn-bar">
				<button type="submit" class="btn btn-primary">Save</button>
				<button type="reset" class="btn btn-default">Reset</button>
			</div>
		</form>
	</div>
</div>
